<div class="container">
    <form class="mt-5" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-floating mb-3">
            <input type="text" formControlName="name" class="form-control" id="floatingName"
                placeholder="name@example.com">
            <label for="floatingInput">Name</label>

            <div [hidden]="registerForm.controls['name'].invalid && !registerForm.controls['name'].touched">
                <app-form-error-msg [formInput]="registerForm.controls['name']" [validationType]="'required'"
                    [errorMsg]="'Required Field'"></app-form-error-msg>

                <app-form-error-msg [formInput]="registerForm.controls['name']" [validationType]="'pattern'"
                    [errorMsg]="'Password Must be: 8-32 in length, lower char, upper char, digit, special char'"></app-form-error-msg>
            </div>
        </div>

        <div class="form-floating mb-3">
            <input type="email" formControlName="email" class="form-control" id="floatingEmail"
                placeholder="name@example.com">
            <label for="floatingInput">Email address</label>

            <div [hidden]="registerForm.controls['email'].invalid && !registerForm.controls['email'].touched">
                <app-form-error-msg [formInput]="registerForm.controls['email']" [validationType]="'required'"
                    [errorMsg]="'Required Field'"></app-form-error-msg>

                <app-form-error-msg [formInput]="registerForm.controls['email']" [validationType]="'pattern'"
                    [errorMsg]="'Field must match required format ^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$'"></app-form-error-msg>
            </div>
        </div>

        <div class="form-floating mb-3">
            <input type="text" formControlName="username" class="form-control" id="floatingUsername"
                placeholder="name@example.com">
            <label for="floatingInput">Username</label>

            <div [hidden]="registerForm.controls['username'].invalid && !registerForm.controls['username'].touched">
                <app-form-error-msg [formInput]="registerForm.controls['username']" [validationType]="'required'"
                    [errorMsg]="'Required Field'"></app-form-error-msg>

                <app-form-error-msg [formInput]="registerForm.controls['username']" [validationType]="'pattern'"
                    [errorMsg]="'Username (3-15) char long and must only contain: uppoer, lower, digits, _, - and no spaces allowed'"></app-form-error-msg>
            </div>
        </div>

        <div class="form-floating mb-3">
            <input type="password" formControlName="password" class="form-control" id="floatingPassword"
                placeholder="Password">
            <label for="floatingPassword">Password</label>

            <div [hidden]="registerForm.controls['password'].invalid && !registerForm.controls['password'].touched">
                <app-form-error-msg [formInput]="registerForm.controls['password']" [validationType]="'required'"
                    [errorMsg]="'Required Field'"></app-form-error-msg>

                <app-form-error-msg [formInput]="registerForm.controls['password']" [validationType]="'pattern'"
                    [errorMsg]="'Password Must be: 8-32 in length, lower char, upper char, digit, special char'"></app-form-error-msg>
            </div>
        </div>

        <div class="form-floating mb-3">
            <input type="password" formControlName="confirmPassword" class="form-control"
                id="floatingPasswordConfirmation" placeholder="Password">
            <label for="floatingPassword">Confirm Password</label>

            <div
                [hidden]="registerForm.controls['confirmPassword'].invalid && !registerForm.controls['confirmPassword'].touched">
                <app-form-error-msg [formInput]="registerForm.controls['confirmPassword']" [validationType]="'required'"
                    [errorMsg]="'Required Field'"></app-form-error-msg>
            </div>
        </div>

        <div class="col-12 mb-3">
            <button type="submit" class="btn btn-success">Sign in</button>
        </div>

        <div>
            <p>Already have an account? <a routerLink="/login">Sign In</a></p>
        </div>
    </form>
</div>