.container-fluid {
    background-color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.items {
    margin-top: 10vh;
    width: 70%;
}