<div class="item">
    <div class="product-img">
        <img [src]="item.product.images[0]" alt="">
    </div>
    <div class="info">
        <h4>{{item.product.title}}</h4>
        <p>{{item.product.description}}</p>
    </div>
    <div class="quantity">
        <button (click)="increment()" type="button" class="btn btn-success"><i class="fa-solid fa-plus"></i></button>
        <h4>{{item.quantity}}</h4>
        <button (click)="decrement()" type="button" class="btn btn-secondary"><i class="fa-solid fa-minus"></i></button>
    </div>
    <div class="delete">
        <button (click)="delete()" type="button" class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
    </div>

    <div class="price">
        <h4>{{item.product.price | currency}}</h4>
    </div>
</div>