<div id="portfolio">
    <h3>Projects</h3>
    <div id="projects">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Demo Project</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde ut dolor
                    necessitatibus ipsam est temporibus?</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>


        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Demo Project</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde ut dolor
                    necessitatibus ipsam est temporibus?</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Demo Project</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde ut dolor
                    necessitatibus ipsam est temporibus?</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>
</div>