#hero {
    width: 100%;
    height: 100vh;
    background-image: url(../../assets/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#name {
    color: white;
    font-size: 5rem;
}

#jobTitle {
    color: #CCCCCC;
    font-size: 2rem;
}