<div id="bio">
    <div class="left">
        <h1>About Me</h1>
    </div>

    <div class="right">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, unde quaerat assumenda nobis molestias
            quae quas ea dignissimos sunt totam corrupti cum quis in illo asperiores dolorum aut ipsam eius eum modi est
            aliquam? Numquam aliquid aspernatur fuga magnam. Mollitia iste sapiente alias consectetur qui sit, repellat
            porro quaerat totam laudantium, ab, beatae ex fugit. Tempore officiis nesciunt modi quam.
        </p>

        <a href="../../assets/yousef_elsayed_resume_updated.pdf" download="">

            <button type="button" class="btn btn-dark">Download Resume</button>
        </a>
    </div>
</div>