<div class="container">
    <img [src]="product.thumbnail" alt="">
    <h1>{{product.title}}</h1>
    <app-rating [rating]="product.rating || 0"></app-rating>
    <h2>Price : {{product.price | currency}}</h2>
    <div class="controls">
        <button class="button-17" (click)="addToCart()">Add to Cart</button>
        <button class="button-17" (click)="routeToCart()">Buy Now</button>
    </div>

    <hr>

    <p><b>Category</b> : {{product.category}}</p>
    <p><b>Description</b>: {{product.description}}</p>
    <p><b>Discount</b> : {{product.discountPercentage | percent}}</p>
    <p><b>Items Avaiable</b> : {{product.stock}}</p>
    @for (image of product.images; track $index) {
    <img src="{{image}}" alt="product image">
    }
</div>