.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0F52BA;
}

ul {
    padding: 0px;
}

li {
    list-style: none;
    margin-left: 1rem;
}

.to-do-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.to-do-item i {
    display: flex;
    justify-content: center;
    align-items: center;
}