.container {
    width: 100%;
    height: 100vh;
}

#input {
    height: 30%;
    background-color: #74C0FC;
    color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

}

#output {
    background-color: #c0c0c0;
    height: 70%;
}